# Environment
.env
.venv/

# Database
*.db
test_gateway.db

# Python
__pycache__/
*.pyc

# UI
ui/node_modules/
ui/dist/

# Kubernetes secrets
k8s/secret.yaml

# Old sample code
n8n-webhook-gateway/
n8n-webhook-gateway.zip

# Claude Code
.claude/

*.db.DS_Store

docs/superpowers/*
CLAUDE.md

zscaler.pem
cloudflared-n8n-eks-plan.md
Dockerfile.ecr